    <H1>Cocktails</H1>

<div class="cards">
  <% @cocktails.each do |cocktail| %>
  <div class="card-category">
      <%= link_to cocktail_path(cocktail) do %>
          <%= cocktail.name %>
    <% end %>
</div>
  <% end %>
</div>
